################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment/v16
**/[Bb]in/
**/[Oo]bj/
*.suo
*.user
*.dll
*.pdb